@import '../../../global.variables.scss';

.c-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 100px;

    background: $background-light;

    .c-main__container {
        margin-top: 25px;
    }
}

.c-main_error {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-family: $font-family;
    color: red;
}
