@import '../../theme.scss';

.c-card {
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 8px;
    padding: 26px;
    margin-top: 50px;
    @include themed() {
        background-color: t($bg-secondary);
    }

    &:hover {
        outline-width: 2px;
        outline-style: solid;
        @include themed() {
            outline-color: t($outline);
        }
    }

    font-family: $font-family;

    .c-card__title {
        width: fit-content;
        @include themed() {
            color: t($text-primary);
        }
        font-weight: 500;
        font-size: 1.2em;
        margin: 22px 0 16px 0;
        cursor: pointer;

        &:hover {
            @include themed() {
                color: t($outline);
            }
            text-decoration: underline;
        }
    }
    .c-card__date {
        @include themed() {
            color: t($outline);
        }
        font-size: 1em;
        text-align: justify;
    }

    .c-card__text {
        @include themed() {
            color: t($text-secondary);
        }
        font-size: 1em;
        text-align: justify;
    }

    .c-card__text {
        margin-top: 18px;
    }

    .c-card__favorite {
        cursor: pointer;
        fill: red;
    }
}

.c-popup {
    width: 65%;
    max-width: 1024px;
    max-height: 500px;

    @include themed() {
        background-color: t($bg-secondary);
    }

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    overflow-y: auto;
    padding: 0 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.199);

    @media (max-width: 1366px) {
        top: 55%;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.103);
        @include themed() {
            background-color: t($bg-secondary);
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        @include themed() {
            background-color: t($border);
        }
        border-radius: 8px;
    }

    font-family: $font-family;

    .c-popup__title {
        width: fit-content;
        @include themed() {
            color: t($outline);
        }
        font-size: 1.6em;
        font-weight: 500;
        margin: 22px 0 30px 0;

        @media (max-width: 768px) {
            font-size: 2em;
        }
        @media (max-width: 376px) {
            font-size: 1.5em;
        }
    }
    .c-popup__close {
        cursor: pointer;
        width: 12px;

        @include themed() {
            color: t($outline);
        }
    }

    .c-popup__date {
        @include themed() {
            color: t($text-secondary);
        }
        font-size: 1em;

        @media (max-width: 768px) {
            font-size: 1.5em;
        }
        @media (max-width: 376px) {
            font-size: 1em;
        }
    }

    .c-popup__text {
        @include themed() {
            color: t($text-secondary);
        }
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 100px;

        @media (max-width: 768px) {
            font-size: 1.2em;
        }
        @media (max-width: 376px) {
            font-size: 1em;
        }
    }

    .c-popup__header {
        position: sticky;
        width: 100%;
        top: 0;
        @include themed() {
            background-color: t($bg-secondary);
        }
        padding: 20px 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.u-wrapper-mask {
    z-index: 9999;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: #0000004f;
    position: fixed;
    top: 0;
    left: 0;
}
