@import '../../../global.variables.scss';
@import '../../../theme.scss';

.c-header {
    display: flex;
    flex-direction: column;
    @include themed() {
        @if t($bg) == $bg-light {
            @include gradient(320deg, $list-light);
        } @else {
            background: t($bg-secondary);
        }
    }

    width: 100%;
    height: fit-content;

    .u-header__container {
        margin: 41px auto;
    }

    .c-header__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        .c-header__brand {
            width: 22px;
        }

        .c-header__light {
            cursor: pointer;

            .moon,
            .sun {
                color: $text-dark;
            }
        }
    }

    .c-header__logo,
    .c-header__title {
        color: $text-dark;
        font-family: $font-family;
        font-size: 1.2em;
        font-weight: 400;
    }

    .c-header__input {
        width: 100%;
        height: 60px;
        padding-left: 65px;
        @include themed() {
            background: t($bg-input);
        }
        color: $text-dark;
        border: none;
        font-family: $font-family;
        font-size: 1.2em;
        border-radius: 5px;
        outline-color: $blue-light-left;

        &::placeholder {
            color: $text-dark;
            opacity: 0.5;
            font-weight: 300;
        }
    }

    #icon {
        background-image: url(../../../assets/img/search-icon.svg);
        background-repeat: no-repeat;
        background-position: 20px;
    }
}
