$background-light: #F3F5F7;
$color-text-light: #1A202C;

$background-blue-light-left: #574AE8;
$background-blue-light-right:  #3EA1DB;
$degree: 88.27deg;
$percent-left: 0%;
$percent-right:  100%;

$background-blue-light: linear-gradient(
    $degree,
    $background-blue-light-left $percent-left,
    $background-blue-light-right $percent-right
);
