html {
    background: #f3f5f7;
    color: #1a202c;
}
html[data-theme='dark'] {
    background: #121214;
    color: #ffffff;
}

body {
    background: transparent;
}

.u-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        width: 90%;
    }
}

.u-header__flex {
    display: flex;
    justify-content: space-between;
}
