.l-grid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    scroll-behavior: smooth;
}

.u-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        width: 90%;
    }
}

.u-header__flex {
    display: flex;
    justify-content: space-between;
}
